.todo-list{
  margin: 0 auto;
  .todo-item{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    height: 5rem;
  }
  .btn-group{
    display: flex;
    align-items: center;
    button{
      flex: 1;
    }
  }
}