.btn{
  display: block;
  width: 40px;
  height: 20px;
  color: #fff;
  font-size: 1rem;
  padding: 0 .1rem;
  border-radius: 10px;
  margin-left: 10px;
}

.btn.btn-parimy{
  color: #fff;
  background-color: #37f;
  border: none;
}

.btn.btn-danger{
  color: #fff;
  background-color: #d9354f;
  border: none;
}
.btn.btn-waring{
  color: #fff;
  background-color: #f0ad4e;
  border: none;
}